
<meta charset="UTF-8" />
<div class="p-4 max-w-[297mm] w-full overflow-auto mx-auto">
    <div class="flex flex-col justify-center items-center gap-2">
        <img
            width="60"
            src="https://auth.num.edu.mn/oauth2/Image/num-logo.svg"
            alt="NUM Logo"
        />
        <p class="uppercase">МУИС-ийн Баруун бүсийн сургууль</p>
        <p class="font-medium">ТООЦООНЫ ТОЙРОХ ХУУДАС</p>
    </div>
    <div class="flex flex-row justify-between mb-1 text-sm ">
        <p class="flex gap-2">
            <span>Department Name</span>
            <span>Class Name - Course ID</span>
            <span>Last Name First Name</span>
        </p>
        <p class="text-xs">
            Department Name Last Name First Name / Office / Type of Teacher /
        </p>
        <p class="text-xs">Огноо: Date</p>
    </div>

    <table class="border  w-full">
        <thead>
            <tr class="text-xs border ">
                <th class="border  p-1">№</th>
                <th class="border  p-1">Тооцоо хийх газрууд </th>
                <th class="border  p-1">Тооцоотой эсэх тухай тэмдэглэлүүд</th>
                <th class="border  p-1">
                    Тооцоо хийсэн хүний гарын үсэг /тэмдэг дарна/
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="border   text-xs">
                <td class="border  p-1 text-center">1</td>
                <td class="border  p-1 text-justify">Place Name</td>
                <td class="border  p-1"></td>
                <td class="border  p-1"></td>
            </tr>
            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>
