---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import './src/styles/global.css';
---

<!DOCTYPE html>
<html lang="mn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Титэм Плаза - Нүүр хуудас</title>
</head>
<body class="bg-gray-100">
    <Header />
    
    <main class="container mx-auto px-4 py-10">
        <h1 class="text-4xl font-bold text-center text-purple-900">Онцлох бараа</h1>
        <p class="text-center text-2xl font-medium text-gray-600 mt-4 mb-4">Ангилал</p>
        <div class="grid grid-cols-3 gap-4">
            <div class="relative flex justify-center items-center bg-violet-500 text-white font-medium rounded-lg p-10 overflow-hidden">
                <img src="/src/images/notebook.jpg" alt="Бичгийн цаас" class="absolute inset-0 w-full h-full object-cover">
                <span class="relative z-10">Дэвтэр</span>
            </div>
            <div class="flex justify-center items-center bg-violet-500 text-white font-medium rounded-lg p-10">Үзэг, бал</div>
            <div class="flex justify-center items-center bg-violet-500 text-white font-medium rounded-lg p-10">Дэвтэр</div>
            <div class="col-span-2 flex justify-center items-center bg-violet-500 text-white font-medium rounded-lg p-10">Ном</div>
            <div class="flex justify-center items-center bg-violet-500 text-white font-medium rounded-lg p-10">Притерийн хор</div>
            <div class="flex justify-center items-center bg-violet-500 text-white font-medium rounded-lg p-10">Жааз, уран зураг</div>
            <div class="col-span-2 flex justify-center items-center bg-violet-500 text-white font-medium rounded-lg p-10">Бэлэг дурсгал</div>
        </div>
    </main>

    <Footer />
</body>
</html>
