---
import './src/styles/global.css';
---
<meta charset="UTF-8" />
<div class="container mx-auto px-4 py-10 bg-[#003375] text-white">
    <h1 class="p-10">Албан бичиг</h1>
    <div class="flex flex-col justify-center items-center gap-2">
        <img
            width="60"
            src="/src/assets/titem_white.png"
            alt="NUM Logo"
        />
        <p class="uppercase">МУИС-ийн Баруун бүсийн сургууль</p>
        <p class="font-medium">ТООЦООНЫ ТОЙРОХ ХУУДАС</p>
</div>