---
import Sidebar from '../components/Sidebar.astro';
---
<meta charset="UTF-8">
<html>
    <head>
        <title>Schedule Page</title>
    </head>
    <body>
        <Sidebar />
        <main>
            <h1>Schedule</h1>
            <!-- Add your schedule content here -->

        </main>
    </body>
</html>