---
import './src/styles/global.css'
---

<meta charset="UTF-8" />
<section class="p-5 bg-blue-200">
    <h1 class="m-5 text-3xl text-gary-900">Admin Dashboard</h1>
    <div class="flex justify-between text-gray-400">
        <ul class="flex justify-between gap-8">
            <li><a href=""></a>Home</li>
            <li><a href=""></a>Notification</li>
            <li><a href=""></a>Email</li>
            <li><a href=""></a>User</li>
            <li><a href=""></a>Product</li>
        </ul>
    </div>
</section>

