---
import './src/styles/global.css'
---
<aside class="w-64">
    <nav class="bg-blue-900">
        <div class="flex items-center justify-center p-4">
            <img src="/src/assets/titem_white.png" alt="Титэм Плаза" class="logo mx-3 h-16 md:h-24 w-18 md:w-26">
        </div>
        <div class="">
            <ul class="flex flex-col text-blue-800">
            <li class="p-4 font-medium hover:text-black hover:rounded-lg hover:bg-white hover:border hover:border-black">
                <a href="#" class="text-white hover:text-black">Dashboard</a>
            </li>
            <li class="p-4 font-medium hover:text-black hover:rounded-lg hover:bg-white hover:border hover:border-black">
                <a href="#" class="text-white hover:text-black">Analytics</a>
            </li>
            <li class="p-4 font-medium hover:text-black hover:rounded-lg hover:bg-white hover:border hover:border-black">
                <a href="#" class="text-white hover:text-black">Invoice</a>
            </li>
            <li class="p-4 font-medium hover:text-black hover:rounded-lg hover:bg-white hover:border hover:border-black">
                <a href="#" class="text-white hover:text-black">Schedule</a>
            </li>
            <li class="p-4 font-medium hover:text-black hover:rounded-lg hover:bg-white hover:border hover:border-black">
                <a href="#" class="text-white hover:text-black">Calendar</a>
            </li>
            <li class="p-4 font-medium hover:text-black hover:rounded-lg hover:bg-white hover:border hover:border-black">
                <a href="#" class="text-white hover:text-black">Messages</a>
            </li>
            <li class="p-4 font-medium hover:text-black hover:rounded-lg hover:bg-white hover:border hover:border-black">
                <a href="#" class="text-white hover:text-black">Notification</a>
            </li>
            <li class="p-4 font-medium hover:text-black hover:rounded-lg hover:bg-white hover:border hover:border-black">
                <a href="#" class="text-white hover:text-black">Settings</a>
            </li>
            <li class="p-4 font-medium hover:text-black hover:rounded-lg hover:bg-white hover:border hover:border-black">
                <a href="#" class="text-white hover:text-black">Sign In</a>
            </li>
            <li class="p-4 font-medium hover:text-black hover:rounded-lg hover:bg-white hover:border hover:border-black">
                <a href="#" class="text-white hover:text-black">Sign Up</a>
            </li>
            <li class="p-4 font-medium hover:text-black hover:rounded-lg hover:bg-white hover:border hover:border-black">
                <a href="#" class="text-white hover:text-black">Log out</a>
            </li>
            </ul>
        </div>
    </nav>
</aside>